{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Welcome page</title>
        <link rel="stylesheet" href="{%static 'css/welcome1.css'%}">
</head>

<body>
    <div class="container">
<div class="jumbotron" align="center">
    <div class="container">
<h1>WELCOME TO JOB PORTAL </h1>
 <br><br>
<b>Admin Login</b>&nbsp;  <a class="btn btn-success" href="/firstapp/admin_welcome/" role="button">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<b>User Login</b>&nbsp;    <a class="btn btn-primary" href="/userapp/user_welcome/" role="button">LOGIN</a>&nbsp;&nbsp;&nbsp;
<br>
    </div></div></div>
</body>
</html>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp;