<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add CIVIL Jobs</title>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/add.css'%}">
</head>
<style>
    h2 {
  color:#ff9900;
  align="center"
}
</style>
<body align="center">
<div class="container">
    <div class="container">
<div class="jumbotron" align="margin-left=20">
    <div class="container">
        <h2> CIVIL NEW OPENINGS !!!</h2><br>
<form action="/firstapp/civil_add/" method="post">
    {% csrf_token %}
    {{civilform |crispy }}<br>
    <button type="submit" class="btn btn-primary">Insert</button>

</form>
    </div>
    </div>
    </div>
    </div>

</body>
</html>