
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Welcome page</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/welcome.css'%}">
</head>

<body>
    <div class="container">
<div class="jumbotron" align="center">
    <div class="container">
        <h1>ADMIN Dashboard</h1>
<h2>WELCOME TO JOB PORTAL </h2>
 <br><br>
Do you have Account?  <a class="btn btn-success" href="/login/" role="button">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

Haven't you registered yet ?  <a class="btn btn-primary" href="/register/" role="button">Register</a>&nbsp;&nbsp;&nbsp;
<br>
    </div></div></div>
</body>
</html>

